<h3>Select Location</h3>
{{#each locations}}
<Strong>
    <a href="/locations/add-location?lat={{lat}}&lon={{lon}}&name={{name}}&state={{state}}&country={{country}}"><p>{{name}}, {{state}},
        {{country}}</p>
    </a>
</strong>
{{/each}}