<h2>{{weather._location.name}}, {{weather._location.state}}, {{weather._location.country}}</h2>
{{#each weather.daily}}
<div class="weather-tile">
    <img class="weather-icon" src="{{_imgUrl}}" alt="weather">
    <h3>{{formatDate _date}}</h3>
    <p class="temperature-high">{{round temp.max}}&deg;{{getTempUnit _units}}</p>
    <p class="temperature-low">{{round temp.min}}&deg;{{getTempUnit _units}}</p>
    {{#if rain}}
    <strong>
        <p>Rain <i class="fa-solid fa-umbrella"></i></p>
    </strong>
    {{/if}}
    <table class="weather-tile-table">
        <tr>
            {{#each weather}}
            <td><Strong>{{capitalize description}}</Strong></td>
            {{/each}}
            <td>Uvi: {{ uvi}}</td>
        </tr>
        <tr>
            <td>Humidity: {{humidity}}%</td>
            <td>Dew Point: {{round dew_point}}&deg;</td>
        </tr>
        <tr>
            <td>Pressure: {{pressure}}mb</td>
            <td><p><i class="fa-solid fa-wind"></i> {{round wind_speed}}mph</p></td>
        </tr>
    </table>
</div>
{{/each}}