<div id="location-controls">
    <a id="add-location" href="/locations/city-search" title="Add Location">
        <i class="fa-solid fa-2x fa-plus"></i>
    </a>
</div>
{{#each weather}}
<a class="weather-tile-link" href="/details/{{_location._id}}">
    <div class="weather-tile">
        <img class="weather-icon" src="{{current._imgUrl}}" alt="weather">
        <h3>{{_location.name}}, {{_location.state}}, {{_location.country}}</h3>
        <p class="temperature">{{round current.temp _units}}&deg;{{getTempUnit _units}}</p>
        {{#if current.rain}}
        <strong>
            <p>Rain</p>
        </strong>
        {{/if}}
        <table class="weather-tile-table">
            <tr>
                {{#each current.weather}}
                <td><strong>{{capitalize description}}</strong></td>
                {{/each}}
                <td>Uvi: {{ current.uvi}}</td>
            </tr>
            <tr>
                <td>Feels Like: {{round current.feels_like _units}}&deg;{{getTempUnit _units}}</td>
                <td>Humidity: {{current.humidity}}%</td>
                
            </tr>
            <tr>
                <td>Dew Point: {{round current.dew_point}}&deg;</td>
                <td>
                    <p><i class="fa-solid fa-wind"></i> {{round current.wind_speed}}mph</p>
                </td>
            </tr>
        </table>
        <a class="remove-location" title="Remove Location" href="/locations/remove-location/{{_location._id}}"><i
                class="fa-solid fa-trash"></i></a>
    </div>
</a>
{{/each}}